@use "../../css/helpers/variables" as *;

.login {
  max-width: 45.375rem;
  .container {
    border: 0.0625rem solid #ccc;
    padding: 5rem 2.5rem 3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 0 0.1875rem #666;
    h3 {
      font: {
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
    }
    label {
      font: {
        weight: bold;
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        style: italic;
      }
      color: #666;
    }
    input {
      padding: 0.875rem;
      border-width: 0 0.125rem 0.125rem 0;
      border-style: solid;
      border-color: transparent #eee #777777a3 transparent;

      &:focus-visible {
        outline: none;
        box-shadow: none;
        border-color: $main-color;
        caret-color: $main-color;
      }
    }
    button {
      padding: 0.5rem 1.25rem;
      font-weight: bold;
      &:hover {
        background-color: #049404 !important;
        color: #ccc !important;
      }
    }
  }
}
